// .burger_menu {
//     display: none;
// }
// @media (max-width: 768px) {
//     .burger-menu {
//         display: flex;
//         width: 50px;
//         color: white;
//     }

// }
.burger_menu {
    display: flex;
    width: 50px;
    color: white;
}